@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:Montserrat;
	src:url('Fonts/montBold.woff2') format('woff2')
		url('Font/montBold.woff')format('woff');
	font-weight:bold
	
}
@font-face{
	font-family:Montserrat;
	src:url('Fonts/montReg.woff2') format('woff2')
		url('Fonts/montReg.woff') format('woff');
	font-weight:normal
	
}

html{background-color:#2A3E4F}
.CenterDiv{align-self:center;margin-left:26%}
.CenterImg{align-self: center}


#ConWU{font-family:'Montserrat', sans-serif;color:#F6D050;positon:absolute;font-weight:normal;font-size:35pt;margin-left:33.8%;}
#ConWu strong{font-weight:bold}